.forgot-password-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    text-align: center;
  }
  
  .forgot-password-wrapper h2 {
    font-size: 36px;
    color: #fff;
  }
  
  .forgot-password-wrapper form {
    margin-top: 20px;
  }
  
  .forgot-password-wrapper input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    outline: none;
  }
  
  .forgot-password-wrapper input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .forgot-password-wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .forgot-password-wrapper .message {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
  }
  